/* Error: There is no module with the namespace "color".
 *    ,
 * 14 |     color: color.adjust(variables.$text-color, $lightness: -20%);
 *    |            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   styles\_components.scss 14:12  @use
 *   styles\main.scss 2:1           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "color".\a    \2577 \a 14 \2502      color: color.adjust(variables.$text-color, $lightness: -20%);\d\a    \2502             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   styles\\_components.scss 14:12  @use\a   styles\\main.scss 2:1           root stylesheet';
}
